/* 重置样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
  background: url("/images/bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
} */

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* 工具类 */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inner {
  width: 1150px;
  margin: 0 auto;
}
/* @media screen and (max-width: 1150px) {
  .inner {
    width: 100%;
  }
} */

.cross-align-center {
  align-items: center;
}

.cross-align-start {
  align-items: flex-start;
}

.main-align-center {
  justify-content: center;
}

.main-align-space-between {
  justify-content: space-between;
}
.main-align-space-around {
  justify-content: space-around;
}

.section-title {
  color: #31489b;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 65px;
}

.text {
  line-height: 1;
  font-size: 18px;
  margin-top: 40px;
}

/* HOME PAGE */
/* Navgation */
#nav {
  height: 60px;
  width: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  line-height: 1;
}
/* logo */
#nav .logo {
  height: 60px;
}

#nav .logo img {
  height: 100%;
  padding: 6px;
}
/* menu */
#nav .nav-menu .menu-item {
  display: inline-block;
  font-size: 1rem;
  height: 60px;
  padding: 22px 1.5rem;
}

#nav .nav-menu .menu-item:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
  border-bottom: 2px solid white;
}

/* BANNER */
#banner {
  position: relative;
  width: 100vw;
  height: 600px;
  background: url("https://source.unsplash.com/800x500/?nature") no-repeat
    center center/cover;
  /* background: blue; */
}

#banner .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-title {
  font-size: 40px;
  text-align: center;
  color: white;
}
#banner .banner-description {
  width: 654px;
  margin-top: 10px;
  font-size: 17px;
  line-height: 2;
  color: white;
}

/* -------------------------------------------------------------------- */
/* Section-1 */

/* -------------------------------------------------------------------- */
/* Footer */
.footer {
  flex-shrink: 0;
  background-color: #00032d;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 40px 0 20px;
  height: 300px;
  color: #666;
}

.footer .title {
  font-weight: 500;
  white-space: nowrap;
  font-size: 16px;
  color: #999;
  line-height: 1;
  margin-bottom: 20px;
  width: 132px;
}
.footer .item {
  width: 224px;
  text-align: left;
  transition: all 0.2s ease;
  line-height: 30px;
  color: white;
}

.footer a {
  transition: all 0.2s ease;
}
.footer a:hover {
  color: #024eb0;
}
