* {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  background: #eee;
  user-select: none;
  /* 禁止选中 */
}

/* 工具类 */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.inner {
  width: 1150px;
  margin: 0 auto;
}

.cross-align-center {
  align-items: center;
}

.main-align-space-between {
  justify-content: space-between;
}

/* carousel */
#slider {
  background: #f7f8fc;
}
#slider .carousel [type="radio"] {
  display: none;
}
#slider .carousel {
  display: flex;
  align-items: center;
  height: 652px;
  width: 993px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

#slider .carousel label {
  margin: auto;
  width: 100%;
  height: 428px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6 {
  box-sizing: border-box;
  padding: 50px;
}

#slide1::before,
#slide2::before,
#slide3::before,
#slide4::before,
#slide5::before,
#slide6::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(223, 217, 217, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#slide1 {
  background: url("https://source.unsplash.com/800x500/?nature") no-repeat
    center center/cover;
}
#slide2 {
  background: url("https://source.unsplash.com/800x500/?water") no-repeat center
    center/cover;
}
#slide3 {
  background: url("https://source.unsplash.com/800x500/?fire") no-repeat center
    center/cover;
}
#slide4 {
  background: url("https://source.unsplash.com/800x500/?tree") no-repeat center
    center/cover;
}
#slide5 {
  background: url("https://source.unsplash.com/800x500/?fish") no-repeat center
    center/cover;
}
#slide6 {
  background: url("https://source.unsplash.com/800x500/?sky") no-repeat center
    center/cover;
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(0, -205%, 0);
  visibility: hidden;
}

#s1:checked ~ #slide6,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5 {
  box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -108%, -50px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6 {
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 0, 0);
}
#s1:checked ~ #slide1::before,
#s2:checked ~ #slide2::before,
#s3:checked ~ #slide3::before,
#s4:checked ~ #slide4::before,
#s5:checked ~ #slide5::before,
#s6:checked ~ #slide6::before {
  visibility: hidden;
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide1 {
  box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 108%, -50px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(0, 205%, 0);
  visibility: hidden;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2,
#s6:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(0, 205%, 0);
  visibility: hidden;
}

.carousel-title {
  color: white;
  margin-bottom: 5px;
}

.carousel-description {
  width: 50%;
  color: white;
  line-height: 1.5rem;
}

/* Indicator */
#slider .indicator {
  width: 100px;
  position: relative;
}

#slider .indicator .indicator-line {
  position: absolute;
  width: 1px;
  height: 239px;
  left: 7px;
  top: 19px;
  background: #31489b;
}

#slider .indicator .indicator-item {
  width: 100%;
  height: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

#slider .indicator .indicator-item-pointer {
  position: relative;
  z-index: 100;
  margin-right: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #31489b;
  background: #f7f8fc;
}

#slider .indicator .indicator-item-pointer-active::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #31489b;
  left: 3px;
  top: 3px;
}

#slider .indicator .indicator-item-title {
  color: #31489b;
}
