<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Triangle Demo</title>
    <style>
      .tri {
        width: 0px;
        height: 0px;
        background: white;
        border-top: 50px solid blue;
        border-right: 50px solid transparent;
        /* border-bottom: 50px solid green; */
        border-left: 50px solid transparent;
      }
    </style>
  </head>
  <body>
    <div class="tri"></div>
  </body>
</html>
